<footer>
  <!-- Footer Top -->  
  <%= render 'layouts/footer_top' %>
  <!-- Copyright -->
  <div class="footer_copy_right">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 text-left">
          <p>&copy; Copyright 2016. All Rights Reserved by <strong>Shri Maya Travels Ltd.</strong>
          </p>
        </div>
        <div class="col-sm-6 text-right">
          <p>Designed and Developed by <a href="http://syseris.com/" target="blank"> Syseris </a> </p>
        </div>
      </div>
    </div>
  </div>
</footer>