<div class="footer_top">
  <div class="container">   
    <div class="row">
      <!-- About Section -->                
      <div class="col-md-3 abt_sec">
        <h2 class="foot_title">
          About Shri Maya
        </h2>
        <p>
          The story began 14 years ago with one lady and one great idea: to introduce the freedom and relaxation of a tour package to everyone. 
        </p>

        <div class="spacer-20"></div>

        <p>
          That idea became a passion, and before long, a dedicated experienced team were brought together to grow the travels to Go concept.
        </p>
      </div>

      <!-- Latest Tweets --> 
      <div class="col-md-3">
        <h2 class="foot_title">
          Latest Tweets
        </h2>
        <ul class="tweets">
          <li> <i class="fa fa-twitter"></i>
            <p class="twee">
              Avoiding travelling on weekends can save you a lot of money. All our packages have flexible check-in dates. Visit <a href="http://www.shrimayatravels.com">#shrimaya</a>
            </p>

            <p class="datd"> 11 April 2016 </p>
            <div class="clearfix"></div>
          </li>

          <li class="spacer-20"></li>

          <li><i class="fa fa-twitter"></i>
            <p class="twee">
              Looking to go away with a large group of friends or family? Check out our offers 
              <a href="#"> #shrimaya </a>
            </p>
            <p class="datd"> 10 April 2016 </p>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>

      <!-- Contact Info -->
      <div class="col-md-3">
        <h2 class="foot_title">
          Contact Info
        </h2>
        <ul class="cont_info">
          <li><i class="fa fa-map-marker"></i>
            <p>The Apex, 2 Sheriffs Orchard<br/>
            India CV1 3PP </p>
          </li>
          <li><i class="fa fa-phone"></i>
            <p> <a href="tel:+917500113007"> Phone: +91 7500113007 / 9897874915  </a> </p>
          </li>
          <li><i class="fa fa-envelope"></i>
            <p> 
              <a href="mailto:ask@shrimayatravels.com?Subject=ShriMayaTravels%20enquiry"> Email: ask@shrimayatravels.com </a>
            </p>
          </li>
          <li>
            <p> Company Registration No: 07060437  </a> </p>
          </li>
        </ul>
      </div>

      <!-- Useful Links -->
      <div class="col-md-3">
        <h2 class="foot_title">
          Useful Links
        </h2>
        <ul class="foot_nav">
          <li> <a href="#">Car Hires</a> </li>
          <li> <a href="#">Why Book with Us</a> </li>
          <li> <a href="#">Contact Us</a> </li>
          <li> <a href="#">FAQS</a> </li>
          <li> <a href="#">PR Agents</a> </li>
          <li> <a href="#">Partners</a> </li>
          <li> <a href="#">Privacy Policy</a> </li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>