<section class="top_sec">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 top_lft">
        <div class="soc_ico">
          <ul>
            <li class="tweet">
              <a href="https://twitter.com/villastogo" target="_blank">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="fb">
              <a href="https://www.facebook.com/villastogo/" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="inf_txt">
          <p>Shri Maya Travels - Explore Your Sprituality</p>
        </div>
      </div>
      <!-- /.top-left -->
      <div class="col-xs-12 col-md-6 top_rgt">
        <div class="sig_in">
          <p>
            <i class="fa fa-phone-square"></i> 
            Call Our Travel Experts - +91 7500113007 / 9897874915
          </p>
        </div>
        <div class="submit_prop">
          <h3 class="subm_btn">
            <a href="#prop_box" data-toggle="modal">
              <span> Free Callback </span>
            </a>
          </h3>
        </div>
      </div>
      <!-- /.top-right -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>